version: "3"
services:
    rembg:
        container_name: rembg
        image: danielgatis/rembg
        entrypoint: rembg-server
    bot:
        container_name: rembgbot
        restart: always
        build: ./
        environment:
          - "BOT_TOKEN=${BOT_TOKEN}"
          - "NEW_RELIC_LICENSE_KEY=${NEW_RELIC_LICENSE_KEY}"
        depends_on:
          - "rembg"
        deploy:
          resources:
            limits:
              cpus: "1"
              memory: 300M